/* cadastro.css */
.cadastro-container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

.cadastro-left {
    background-color: #1c1c1c;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-logo {
    width: 150px;
}

.cadastro-right {
    background-color: #e1e1e1;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro-right h2 {
    margin-bottom: 20px;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cadastro-form input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

.cadastro-form button {
    background-color: #1c1c1c;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-form button:hover {
    background-color: #333;
}