.footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
}

.icon-group button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

img {
    width: 40px;
    height: 40px;
}