.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    /* pega a maior parte da tela */
    background-color: #f2f2f2;
}

.card {
    background-color: #ccc;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 500px;

}

.card h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-button {
    background-color: #2d73f5;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.main-button:hover {
    background-color: #195bdf;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}