.agendamento-container {
    background-color: #e0e0e0;
    width: 350px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 8px;
    font-family: sans-serif;
}

.agendamento-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.agendamento-container label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.agendamento-container input,
.agendamento-container select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.profissional-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.estrela {
    color: gold;
    font-weight: bold;
}

.agendamento-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}